$min-width: 320px;
$max-width-container: 1450px;
$md1: 1199.9px;
$md2: 991.0px;
$md3: 767.9px;
$md4: 479.9px;
$font-family: 'Raleway', sans-serif;
$dark-color: #372E11;
$light-text-color: #8E825C;
$light-gray-color: #EDEDED;
$light-orange-color: #FFE182;
$light-color: #FFF8E1;
$white-color: #FFFBED;
$black-color: #000;