.footer {
    min-height: 339px;
    background-color: $dark-color;
    padding: 80px 0;
    @media (max-width: $md1) {
        padding: 20px 9px;    
    }

    @media (max-width: $md4) {
        padding: 20px 5px;    
    }

    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;        
        gap: 24px;
    }

    &__column {
        @media (max-width: $md1) {
            margin: 12px 0;
        }        

        @media (max-width: $md2) {
            &:nth-child(2) {
                order: 3
            }

            &:nth-child(3) {
                order: 2
            }
        }       

        @media (max-width: 600px) {
            &:nth-child(2) {
                order: 2
            }

            &:nth-child(3) {
                order: 3
            }
        }        
    }

    &__copyrights {
        display: none;

        @media (max-width: $md2) {
            display: block;            
            margin-top: 36px;
            font-weight: 400;
            font-size: 12px;
            color: $white-color
        }
    }

    &__copyrights a{        
        color: $white-color
    }
}

.column-footer {

    &__title {
        font-family: 'Marmelad';
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 24px;
        color: $white-color
    }

    &__body {
        display: flex;
        align-items: flex-start;

        @media (max-width: $md1) {
            flex-direction: column;
        }        
    }

    &__address {
        max-width: 275px;

        span {
            display: block;
            font-size: 18px;
            line-height: 21px;
            color: $white-color;
        }

        &:not(:last-child) {
            margin-right: 40px;

            @media (max-width: $md1) {
                margin-right: 0;
                margin-bottom: 16px;
            }
        } 
    }

    &__link {
        display: block;        
        font-size: 20px;
        color: $white-color;        

        &:not(:last-child) {
            margin-bottom: 16px;
        } 
    }

    &__phone {
        display: block;
        font-family: 'Roboto';
        font-size: 20px;
        color: $white-color;
        margin-bottom: 16px;
    }

    &__mail {
        display: block;
        font-size: 20px;
        color: $white-color;
        margin-bottom: 16px;
    }

    &__mail-btn {
        height: 48px;
        padding: 5px 32px;     
        background-color: $light-orange-color; 
        transition: box-shadow 0.3s ease;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 1px 1px 8px 3px rgba(255,225,130,0.5);
            }
        }

        span {
            font-weight: 600;
            font-size: 16px;
            margin-right: 10px;
        }

        svg {
            width: 18.33px;
            height: 14.59px;
        }

        @media (max-width: $md4) {
            padding: 5px 69.5px;
        } 

        @media (max-width: $md4) {
            padding: 5px 32px;
        } 
    }
}

